<div class="taller-show">
  <div class="taller-show-left">
    <%= cl_image_tag @workshop.photo.key %>
  </div>

  <div class="taller-show-right" data-controller="toggle">
    <p id="non-serif"><%= @workshop.name.upcase %></p>
    <p><%= @workshop.description %></p>

    <%= link_to "Borrar taller", workshop_path(@workshop), data: {turbo_method: :delete}, class: "mb-2" if user_signed_in? %>

    <div class="taller-show-btns">
      <%= link_to "Registrarse", "#", class: "button-grey" %>
      <%= button_to "Consulta", "#", class: "button-grey", data: { action: "click->toggle#toggle" } %>
    </div>

    <% flash.each do |key, message| %>
      <p class="alert alert-<%= key %>"><%= message %></p>
    <% end %>

    <%= form_for [@contact], html: {class: "contact-form d-none", data: {toggle_target: "element"}} do |form| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation" class="bg-rose-200 pt-3 pb-1 mb-4 px-4 rounded-md">
          <div class="font-bold text-rose-700 text-sm pb-4"><%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved:</div>

          <ul class="pb-0 mb-0">
            <% @contact.errors.each do |error| %>
              <li class="text-rose-600 pl-4 text-sm"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :source, value: "workshop" %>
      <%= form.hidden_field :workshop_id, value: @workshop.id %>

      <div class="d-flex flex-column">
        <p>Dejanos tu mensaje y mail para poder ayudarte en tu consulta!<br>Muchas Gracias :)</p>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label :content %>
        <%= form.text_area :content %>
      </div>

      <div class= "d-none">
        <%= form.label :nickname %>
        <%= form.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <%= form.submit "Send Message", class: "button-white" %>

    <% end %>

  </div>
</div>
