<% agent = request.user_agent %>
<% if agent =~ /Mobile/ %>
  <div class="navbar-mobile">
      <i class="fa-solid fa-bars menu-mobile"></i>
      <%= image_tag "logo.png", class: "logo-mobile" %>
      <%= image_tag "carito_location_mail_whp/Icono_Carrito.png", class: "carrito" %>
    </div>
   <% else %>
  <div class="navbar">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag "https://d3ugyf2ht6aenh.cloudfront.net/stores/001/206/817/themes/common/logo-643016315-1590195607-8fc32b97496cb2f5d217abc0492901a51590195607-480-0.png?0", class: "logo" %>
    <% end %>

    <div class="navbar-flex">
      <%= link_to "Admin", dashboard_path if user_signed_in? %>
      <%= link_to "Inicio", root_path %>
      <%= link_to "Productos", "https://brindisespumante.com.ar/productos/" %>
      <%= link_to "Quienes somos", quienes_somos_path %>
      <%= link_to "Contacto", showroom_path %>
      <%= link_to "Preguntas Frequentes", "https://brindisespumante.com.ar/preguntas-frecuentes/" %>
      <%= link_to "https://brindisespumante.com.ar/checkout/v3/start/1220615424/65085d14039d9f81b8190a8341f44bab4d8452af?from_store=1" do %>
        <%= image_tag "carito_location_mail_whp/Icono_Carrito.png", class: "carrito" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
