<div class="navbar">
  <div class="container">
    <%= image_tag "logo.png", class: "logo" %>

    <div class="navbar-flex">
      <%= link_to "Inicio", root_path %>
      <%= link_to "Productos", "#" %>
      <%= link_to "Quienes somos", quienes_somos_path %>
      <%= link_to "Contacto", "#" %>
      <%= link_to "Preguntas Frequentes", "#" %>
      <%= image_tag "carito_location_mail_whp/Icono_Carrito.png", class: "carrito" %>
    </div>
  </div>
</div>