<% agent = request.user_agent %>
<% if agent =~ /Mobile/ %>
  <div class="navbar-mobile">
    <% unless current_page?(root_path) %>
      <i class="fa-solid fa-bars menu-mobile" data-action="click->slide#display"></i>
    <% end %>
    <%= link_to root_path do %>
      <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/206/817/themes/common/logo-238479029-1681492343-1a7bfbbe807402a2c472c0ab13882f851681492343-480-0.png?0" class="logo-mobile">
      <%# <%= image_tag "logo.png", class: "logo-mobile" %>
    <% end %>
    <%= link_to "https://brindisespumante.com.ar/checkout/v3/start/1220615424/65085d14039d9f81b8190a8341f44bab4d8452af?from_store=1" do %>
      <%= image_tag "Icono_Carrito.png", class: "carrito" %>
    <% end %>
  </div>

  <% unless current_page?(root_path) %>
    <div class="side-menu-mobile" data-slide-target="menu">
      <a href="<%= root_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "dibujos_maggie/calles/calles_pag_web_copy-01.png", id: "slide-img" %>
        <p id="inicio">Inicio</p>
      </a>
      <a href="<%= tienda_path %>"class="side-inicio" id="remove_underline">
        <%= image_tag "inicio/Tienda.png", id: "slide-img" %>
        <p id="inicio">Productos</p>
      </a>
      <a href="<%= quienes_somos_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "quienes_somos/quienes_somos_pagina.png", id: "slide-img" %>
        <p id="inicio">Quienes Somos</p>
      </a>
      <a href="<%= showroom_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "showroom.png", id: "slide-img" %>
        <p id="inicio">Contacto</p>
      </a>
      <a href="<%= eventos_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "inicio/Eventos.png", id: "slide-img" %>
        <p id="inicio">Eventos</p>
      </a>
      <a href="<%= talleres_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "inicio/Talleres.png", id: "slide-img" %>
        <p id="inicio">Talleres</p>
      </a>
      <a href="<%= politica_de_cambio_path %>" class="side-inicio" id="remove_underline">
        <%= image_tag "inicio/basura.png", id: "slide-img" %>
        <p id="inicio">Política de Cambio</p>
      </a>
    </div>
  <% end %>

<% else %>
  <div class="navbar">
    <div class="container">
      <%= link_to root_path do %>
      <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/206/817/themes/common/logo-238479029-1681492343-1a7bfbbe807402a2c472c0ab13882f851681492343-480-0.png?0" class="logo">
        <%#= image_tag "logo.png", class: "logo" %>
      <% end %>

      <div class="navbar-flex" id="non-serif">
        <%= link_to "Admin", dashboard_path if user_signed_in? %>
        <%= link_to "Inicio", root_path %>
        <%= link_to "Productos", tienda_path %>
        <%= link_to "Quienes somos", quienes_somos_path %>
        <%= link_to "Contacto", showroom_path %>
        <%= link_to "Preguntas Frecuentes", "https://brindisespumante.com.ar/preguntas-frecuentes/" %>
        <%= link_to "https://brindisespumante.com.ar/checkout/v3/start/1220615424/65085d14039d9f81b8190a8341f44bab4d8452af?from_store=1" do %>
          <%= image_tag "Icono_Carrito.png", class: "carrito" %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
