<div class="navbar">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag "https://d3ugyf2ht6aenh.cloudfront.net/stores/001/206/817/themes/common/logo-643016315-1590195607-8fc32b97496cb2f5d217abc0492901a51590195607-480-0.png?0", class: "logo" %>
    <% end %>

    <div class="navbar-flex">
      <%= link_to "Inicio", root_path %>
      <%= link_to "Productos", "#" %>
      <%= link_to "Quienes somos", quienes_somos_path %>
      <%= link_to "Contacto", "https://brindisespumante.com.ar/contacto/" %>
      <%= link_to "Preguntas Frequentes", "https://brindisespumante.com.ar/preguntas-frecuentes/" %>
      <%= image_tag "carito_location_mail_whp/Icono_Carrito.png", class: "carrito" %>
    </div>
  </div>
</div>