<div class="admin">
  <%= link_to "+ Taller", new_workshop_path %>
  <%= link_to "+ Evento", new_event_path %>
  <%= link_to "Cambiar productos en promoción", new_item_path %>
  <%= link_to "Cambiar texto de cartelera", new_billboard_path %>
  <%= link_to "Cerrar sessión", destroy_user_session_path %>
</div>