<div class="eventos-outer">
  <div class="eventos">
    <div class="eventos-row">
      <% if @events_upcoming.empty? %>
        <h5 style="max-width: unset; margin-top: 11vh;">Aún no hay eventos. Vuelve pronto! :)</h5>
      <% else %>
        <h5 class="bold" id="non-serif">EVENTOS POR VENIR</h5>
        <% @events_upcoming.take(5).each do |event| %>
          <div class="eventos-card">
            <%= cl_image_tag event.poster.key %>

            <div>
              <p id="non-serif"><strong><%= event.title.upcase %></strong></p>
              <p id="non-serif"><strong><%= event.description.to_plain_text.truncate(50) %></strong> <%= link_to "Mas info", event_path(event), class: "bold" %></p>
              <p id="non-serif">Fecha: <%= event.date.strftime("%e de %b %Y") %></p>
              <p id="non-serif">Horarios: <%= event.start_time.strftime("%H:%M") %> a <%= event.end_time.strftime("%H:%M") %> hs.</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="eventos-row">
      <% unless @events_past.empty? %>
        <h5 class="bold" id="non-serif">EVENTOS PASADOS</h5>
        <% @events_past.take(5).each do |event| %>
          <div class="eventos-card">
            <%= cl_image_tag event.poster.key %>
            <div>
              <p id="non-serif"><strong><%= event.title.upcase %></strong></p>
              <p id="non-serif"><strong><%= event.description.to_plain_text.truncate(50) %></strong> <%= link_to "Mas info", event_path(event), class: "bold" %></p>
              <p id="non-serif">Fecha: <%= event.date.strftime("%e de %b %Y") %></p>
              <p id="non-serif">Horarios: <%= event.start_time.strftime("%H:%M") %> a <%= event.end_time.strftime("%H:%M") %> hs.</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>