<div class="eventos-outer">
  <div class="eventos">
    <div class="eventos-row">
      <h5 class="bold">EVENTOS POR VENIR</h5>
      <% @events_upcoming.take(5).each do |event| %>
        <div class="eventos-card">
          <%= cl_image_tag event.poster.key %>

          <div>
            <p><strong><%= event.title.upcase %></strong></p>
            <p><strong><%= event.description.to_plain_text.truncate(50) %></strong> <%= link_to "Mas info", event_path(event), class: "bold" %></p>
            <p>Fecha: <%= event.date.strftime("%e de %b %Y") %></p>
            <p>Horarios: <%= event.start_time.strftime("%H:%M") %> a <%= event.end_time.strftime("%H:%M") %> hs.</p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="eventos-row">
      <h5 class="bold">EVENTOS PASADOS</h5>
      <% @events_past.take(5).each do |event| %>
        <div class="eventos-card">
          <%= cl_image_tag event.poster.key %>
          <div>
            <p><strong><%= event.title.upcase %></strong></p>
            <p><strong><%= event.description.to_plain_text.truncate(50) %></strong> <%= link_to "Mas info", event_path(event), class: "bold" %></p>
            <p>Fecha: <%= event.date.strftime("%e de %b %Y") %></p>
            <p>Horarios: <%= event.start_time.strftime("%H:%M") %> a <%= event.end_time.strftime("%H:%M") %> hs.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>