<div class = "home_mobile">
  <%= image_tag "inicio/psd/Fondo_pagina-web-celular.png" %>
  <div>
    <%= link_to root_path, id: "link-tienda" do %>
    <% end %>
    <%= link_to showroom_path, id: "link-showroom" do %>
    <% end %>
    <%= link_to quienes_somos_path, id: "link-quienes_somos" do %>
    <% end %>
    <%= link_to talleres_path, id: "link-talleres" do %>
    <% end %>
    <%= link_to eventos_path, id: "link-eventos" do %>
    <% end %>
  </div>
</div>
