<div class="home_mobile">
  <% if @billboard_item %>
    <div class="billboard-box-mobile">
      <h5 class="billboard-text-mobile"><%= @billboard_item.text %></h5>
    </div>
  <% end %>
  <%= link_to "https://www.brindisespumante.com.ar", id: "link-tienda" do %>
  <% end %>
  <%= link_to showroom_path, id: "link-showroom" do %>
  <% end %>
  <%= link_to quienes_somos_path, id: "link-quienes_somos" do %>
  <% end %>
  <%= link_to politica_de_cambio_path, id: "link-quienes_somos" do %>
  <% end %>
  <%= link_to talleres_path, id: "link-talleres" do %>
  <% end %>
  <%= link_to eventos_path, id: "link-eventos" do %>
  <% end %>
</div>
