<div class="home-outer">
  <%= image_tag "wetransfer/PNG/decorativos_13.png", class: "lake" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass-1" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass-2" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass-3" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass-4" %>

  <div class="home3">
    <div class="building eventos-home">
      <p class="text">Eventos</p>
    </div>

    <div class="building tienda-home">
      <p class="text">Tienda Brindis</p>
    </div>

    <div class="building showroom-home">
      <p class="text">Showroom</p>
    </div>

    <div class="building quienes-somos-home">
      <p class="text">Quienes Somos</p>
    </div>

    <div class="building talleres-home">
      <p class="text">Talleres</p>
    </div>

    <div class="building politica-home">
      <%= image_tag "carito_location_mail_whp/Icono_Planta.png" %>
      <%= image_tag "inicio/basura.png" %>
      <p class="text">Politica de Cambio</p>
    </div>
  </div>
</div>