<div class="home-outer">
  <%= image_tag "wetransfer/PNG/decorativos_13.png", class: "lake" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass grass-1" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass grass-2" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass grass-3" %>
  <%= image_tag "inicio/Fondo_Politica_de_cambio_Inicio.png", class: "grass grass-4" %>

  <div class="home3">
    <a href="<%= eventos_path %>" class="building eventos-home">
      <p class="text">Eventos</p>
    </a>

    <a href="<%= tienda_path %>" class="building tienda-home">
      <p class="text">Tienda Brindis</p>
    </a>

    <a href="<%= showroom_path %>" class="building showroom-home">
      <p class="text">Contacto</p>
    </a>

    <a class="building quienes-somos-home" href="<%= quienes_somos_path %>">
      <div>
        <%= image_tag "quienes_somos/quienes_somos_pagina.png" %>
        <p class="text">Quienes Somos</p>
      </div>
    </a>

    <a class="building talleres-home" href="<%= talleres_path %>" >
      <p class="text">Talleres</p>
    </a>

    <a class="building politica-home" href="<%= politica_de_cambio_path %>" >
      <%= image_tag "carito_location_mail_whp/Icono_Planta.png" %>
      <%= image_tag "inicio/basura.png" %>
      <p class="text">Politica de Cambio</p>
    </a>

    <div class="info-home" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <p>Proyecto Brindis invita a la creación de prendas cómodas y versátiles. Usar brindis es vestir con estilo. Es aceptarnxs y aceptar a todxs. Somos un proyecto familiar, creado por tres hermanas que surge como una opción alternative a la industria de la moda. Buscamos generar una producción humana y consciente dentro de nuestras posibilidades.</p>
    </div>

    <%= image_tag "wetransfer/PNG/cartel_02.png", class: "sign" %>

    <% if @billboard_item %>
      <h5 class="billboard-text"><%= @billboard_item.text %></h5>
    <% else %>
      <h5 class="billboard-text">10% de descuento</h5>
    <% end %>

    <%= image_tag "wetransfer/PNG/nube_02.png", class: "cloud-1" %>
    <% if @cloud_item_left %>
      <%= link_to @cloud_item_left.link do %>
        <%= cl_image_tag @cloud_item_left.photo.key, class: "item item-1" %>
      <% end %>
    <% else %>
      <%= image_tag "fotos_pagina/remera-rufino.png", class: "item item-1" %>
    <% end %>

    <% if @cloud_item_center %>
      <%= link_to @cloud_item_center.link do %>
        <%= cl_image_tag @cloud_item_center.photo.key, class: "item item-2" %>
      <% end %>
    <% else %>
      <%= image_tag "fotos_pagina/remera-rufino.png", class: "item item-2" %>
    <% end %>

    <%= image_tag "wetransfer/PNG/nube_01.png", class: "cloud-2" %>

    <% if @cloud_item_right %>
      <%= link_to @cloud_item_right.link do %>
        <%= cl_image_tag @cloud_item_right.photo.key, class: "item item-3" %>
      <% end %>
    <% else %>
      <%= image_tag "fotos_pagina/remera-rufino.png", class: "item item-3" %>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <%= image_tag "logo.png", class: "logo" %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="https://brindisespumante.com.ar/account/login/" class="modal-btn">
          <p>Inicia Sesion</p>
          <i class="fa-solid fa-caret-right"></i>
        </a>
        <a href="https://brindisespumante.com.ar/account/register/" class="modal-btn">
          <p>Registrarte en Brindis</p>
          <i class="fa-solid fa-caret-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>