<div class="showroom">
  <%= image_tag "showroom/showroom_pagina.png" %>

  <div class="showroom-right">
    <p id="non-serif">Nuestro Showroom se encuentra en Colegiales. No solo vendemos ropa, sino que también usamos el espacio para dar talleres, hacer eventos y generar encuentros culturales donde todxs se sientan bienvenidxs</p>

    <div>
      <p>
        <%= image_tag "logo_wpp.png", class: "icon" %>
        <%= link_to "https://wa.me/5491130824325?text=Hola", target: "_blank" do %>
          <strong id="non-serif">5491130824325</strong>
        <% end %>
      </p>
      <p>
        <%= image_tag "icono_mail.png", class: "icon" %>
        <%= link_to "mailto:brindiespumante@gmail.com", target: "_blank" do %>
          <strong id="non-serif">brindiespumante@gmail.com</strong>
        <% end %>
      </p>
      <p style="margin-bottom: -0.5rem;">
        <%= image_tag "icono_location.png", class: "icon" %>
        <strong id="non-serif">Cespedes 3146, entre Conde y Cap.Gral.Ramon Freire</strong>
      </p>
      <%= image_tag "showroom/linea.png", class: "linea" %>
    </div>

    <div data-controller="toggle">
      <p id="non-serif" class="shadow-left" data-action="click->toggle#toggle" style="cursor: pointer; text-align: center;">
        <strong>Showroom abierto Martes y Miercoles de 14 a 18hs con disponibilidad para retirar de Lunes a Viernes de 14 a 18hs</strong>
        <br>Cualquier consulta no dudes en mandarnos un mensaje :)
      </p>

      <div class="showroom-grid" style="align-items: flex-start;">
        <div data-toggle-target="placeholder" class="placeholder-showroom"></div>
        <div class="shadow-center d-none">
          Déjanos tu mensaje a que hora querés pasar y en el caso de retiro, también tu numero de pedido. 
          <br>
          Gracias!
        </div>

        <%= form_for [@contact], html: {class: "contact-form mt-0 d-none", data: {toggle_target: "element"}} do |form| %>
          <% if @contact.errors.any? %>
            <div id="error_explanation" class="bg-rose-200 pt-3 pb-1 mb-4 px-4 rounded-md">
              <div class="font-bold text-rose-700 text-sm pb-4"><%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved:</div>

              <ul class="pb-0 mb-0">
                <% @contact.errors.each do |error| %>
                  <li class="text-rose-600 pl-4 text-sm"><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= form.hidden_field :source, value: "showroom" %>

          <div class="d-flex flex-column">
            <p>Dejanos tu mensaje a que hora queres pasar y en el caso de retiro, tambien tu numero de pedido. Gracias!</p>
            <%= form.label :email, class: "text-sm" %>
            <%= form.text_field :email %>
          </div>

          <div class="d-flex">
            <div class="d-flex flex-column" style="width: 50%; padding-right: 1rem;">
              <%= form.label "Nº de pedido", class: "text-sm" %>
              <%= form.text_field :order_number %>
            </div>

            <div class="d-flex flex-column">
              <%= form.label :horario, class: "text-sm" %>
              <%= form.time_field :time, value: "%H:%M" %>
            </div>
          </div>

          <div class="d-flex flex-column">
            <%= form.label :content, class: "text-sm" %>
            <%= form.text_area :content %>
          </div>

          <div class= "d-none">
            <%= form.label :nickname %>
            <%= form.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>

          <%= form.submit "Enviar", class: "button-white", style: "font-size: 0.75rem; font-weight: bold;" %>

        <% end %>

        <%= image_tag "showroom.png" %>
      </div>
  </div>
</div>