<div class="showroom">
  <%= image_tag "showroom/showroom_pagina.png" %>

  <div class="showroom-right">
    <h6>Nuestro showroom...</h6>

    <div>
      <p>
        <%= image_tag "carito_location_mail_whp/logo_wpp.png", class: "icon" %>
        5491130824325
      </p>
      <p>
        <%= image_tag "carito_location_mail_whp/icono_mail.png", class: "icon" %>
        brindiespumante@gmail.com</p>
      <p>
        <%= image_tag "carito_location_mail_whp/icono_location.png", class: "icon" %>
        Cespedes 3146, entre Conde y Cap.Gral.Ramon Freire
      </p>
      <%= image_tag "showroom/linea.png", class: "linea" %>
    </div>

    <div>
    <p class="shadow-center">
      <strong>
        Lunes a viernes de 13 a 18 hs con previo aviso para retirar
      </strong>
    </p>

    <div class="showroom-grid" style="align-items: flex-start;">
      <div class="shadow-center d-none" data-controller="toggle">Déjanos tu mensaje a que hora querés pasar y en el caso de retiro, también tu numero de pedido. Gracias!</div>

      <%= form_for [@contact], html: {class: "contact-form mt-0", data: {toggle_target: "element"}} do |form| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation" class="bg-rose-200 pt-3 pb-1 mb-4 px-4 rounded-md">
            <div class="font-bold text-rose-700 text-sm pb-4"><%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved:</div>

            <ul class="pb-0 mb-0">
              <% @contact.errors.each do |error| %>
                <li class="text-rose-600 pl-4 text-sm"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="d-flex flex-column">
          <p>Dejanos tu mensaje y mail para poder ayudarte en tu consulta!<br>Muchas Gracias :)</p>
          <%= form.label :email %>
          <%= form.text_field :email %>
        </div>

        <div class="d-flex flex-column">
          <%= form.label :n_de_pedido %>
          <%= form.text_area :n_de_pedido %>
        </div>

        <div class="d-flex flex-column">
          <%= form.label :content %>
          <%= form.text_area :content %>
        </div>

        <div class= "d-none">
          <%= form.label :nickname %>
          <%= form.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>

        <%= form.submit "Send Message", class: "button-white" %>

      <% end %>

      <%= image_tag "inicio/showroom.png" %>
    </div>
  </div>
</div>