<div class="talleres">
  <%= image_tag "talleres/entrada_byn.png" %>

  <div class="talleres-right" data-controller="galleria">
    <section class="slider">
      <button class="slider__control prev"></button>
      <button class="slider__control next"></button>
      <div class="slider__container" data-multislide="true" data-step="4">
        <% @talleres.each do |taller|  %>
          <div class="slider__item">
            <div>
              <%= cl_image_tag taller.photo.key %>
              <p><%= taller.name.upcase %></p>
              <div class="line-clamp">
                <%= taller.description %>
              </div>
            </div>
            <%= link_to "Mas info", workshop_path(taller), class: "mt-2", style: "text-decoration: underline;" %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>