<div class="tienda">
  <div class="tienda-left">
    <%= image_tag "tienda_online/tienda_pagina.png" %>
    <%= image_tag "tienda_online/espejo_byn.png" %>
  </div>

  <div class="tienda-right">
    <a href="https://www.brindisespumante.com.ar/pantalon/">
      <%= image_tag "dibujos_guia_de_talles/png/pantalones_baggy_2.png", style: "height: 17vh;" %>
      <div class="tienda-btn">
        <p>Pantalones</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/">
      <%= image_tag "dibujos_guia_de_talles/psd_tere/medidas_puffer_copy.png" %>
      <div class="tienda-btn">
        <p>Camperas Puf</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/buzos/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_buzos.png" %>
      <div class="tienda-btn">
        <p>Buzos</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://brindisespumante.com.ar/remeras-y-musculosas/">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_musculosas.svg" %>
      <div class="tienda-btn">
        <p>Musculosa</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camisas/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_camisas.png" %>
      <div class="tienda-btn">
        <p>Camisas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/">
      <%= image_tag "dibujos_guia_de_talles/png/camperas.png" %>
      <div class="tienda-btn">
        <p>Camperas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/remeras-y-musculosas/remeras/">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_remerones.svg" %>
      <div class="tienda-btn">
        <p>Remeron</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/bikinis/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_bikini.png" %>
      <div class="tienda-btn">
        <p>Bikinis</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>
  </div>
</div>
