<div class="tienda-mobile-top">
  <a href="https://www.brindisespumante.com.ar/productos/" class="tienda-btn text-center" style="width: auto;">Todos productos</a>
</div>

<div class="tienda-mobile-grid">
    <a href="https://www.brindisespumante.com.ar/pantalon/">
      <%= image_tag "dibujos_guia_de_talles/png/pantalones_baggy_2.png" %>
      <div class="tienda-btn-mobile">
        <p>Pantalones</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/">
      <%= image_tag "dibujos_guia_de_talles/psd_tere/medidas_puffer_copy.png" %>
      <div class="tienda-btn-mobile">
        <p>Camperas Puf</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/buzos/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_buzos.png" %>
      <div class="tienda-btn-mobile">
        <p>Buzos</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://brindisespumante.com.ar/remeras-y-musculosas/">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_musculosas.svg" %>
      <div class="tienda-btn-mobile">
        <p>Musculosas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camisas/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_camisas.png" %>
      <div class="tienda-btn-mobile">
        <p>Camisas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/">
      <%= image_tag "dibujos_guia_de_talles/png/camperas.png" %>
      <div class="tienda-btn-mobile">
        <p>Camperas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/remeras-y-musculosas/remeras/">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_remerones.svg" %>
      <div class="tienda-btn-mobile">
        <p>Remeras</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/bikinis/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_bikini.png" %>
      <div class="tienda-btn-mobile">
        <p>Bikinis</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>
</div>