<div class="tienda">
  <div class="tienda-left">
    <%#= image_tag "tienda_online/tienda_pagina.png" %>
    <a href="https://www.brindisespumante.com.ar/productos/" id="non-serif" class="tienda-btn text-center" style="margin-right: 2vw; margin-top: 13vh;">Todos los productos</a>
    <%#s= image_tag "tienda_online/espejo_byn.png" %>
  </div>

  <div class="tienda-right">
    <a href="https://www.brindisespumante.com.ar/pantalon/" style="margin-bottom: -5vh;">
      <%= image_tag "dibujos_guia_de_talles/png/pantalones_baggy_2.png", style: "height: 17vh;" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Pantalones</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/" style="margin-bottom: -5vh;">
      <%= image_tag "dibujos_guia_de_talles/psd_tere/medidas_puffer_copy.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Camperas Puf</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/buzos/" style="margin-bottom: -5vh;">
      <%= image_tag "dibujos_guia_de_talles/png/talle_buzos.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Buzos</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://brindisespumante.com.ar/remeras-y-musculosas/">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_musculosas.svg" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Musculosas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camisas/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_camisas.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Camisas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/camperas/">
      <%= image_tag "dibujos_guia_de_talles/png/camperas.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Camperas</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/remeras">
      <%= image_tag "dibujos_guia_de_talles/svg/talle_remerones.svg" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Remeras</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/bikinis/">
      <%= image_tag "dibujos_guia_de_talles/png/talle_bikini.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Bikinis</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>

    <a href="https://www.brindisespumante.com.ar/polleras/">
      <%= image_tag "pollera.png" %>
      <div class="tienda-btn">
        <p id="non-serif" style="text-shadow: none;">Polleras</p>
        <i class="fa-solid fa-caret-right"></i>
      </div>
    </a>
  </div>
</div>
