<%= simple_form_for @item, html: {class: "new-form", style: "margin-left: auto; margin-right: auto;"} do |f| %>
  <h5>Nubes</h5>
  <%= f.input :link, label: "URL de producto" %>
  <%= f.input :position, collection: Item::POSITIONS, label: "Posición" %>
  <%= f.input :photo, as: :file, label: "Imagen" %>
  <%= f.submit "Cambiar item" %>
<% end %>


<% unless @items.empty? %>
  <ul style="width: 45vw; margin-left: auto; margin-right: auto; margin-top: 5vh;">
    <h5>Deletar elementos:</h5>
    <% @items.each do |item| %>
      <%= link_to "Deletar elemento de #{item.position}", item_path(item), data: {turbo_method: :delete} %>
    <% end %>
  </ul>
<% end %>