<!DOCTYPE html>
<html>
  <head>
    <title>Brindis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.1.1/trix.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.1.1/trix.js"></script> %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller="slide">
    <%= render "shared/navbar" %>
    <div data-slide-target="background">
      <%= render "shared/flashes" %>
      <%= yield %>
      <%= render "shared/whatsapp" %>
    </div>
  </body>
</html>
